.project
.externalToolBuilders/
private/
./books/books.jar
build/
dist/
*.properties
*.xml
!persistence.xml


books/
derbyDB/
FacadeInterface/
LibrarianArchive/
LibrarianClient/
LibrarianLogic-ejb/
Library_client_2014/
README.md
selectingExample.jar
set_hooks.sh
